# Use this file to create a conda environment with required dependencies
# installed, using the command:
#
#     conda create -n <name> --file conda-requirements.txt
#

# Python dependency:
python>=3.5

# Build dependencies:
setuptools

# Runtime dependencies:
mpi4py
python-dateutil
xarray<0.8
netcdf4
dask>=0.8.1

# Testing dependencies:
pytest
pep8
