# Use this file to create a conda environment with required dependencies
# installed, using the command:
#
#     conda create -n <name> --file conda-requirements.txt
#

# Python dependency:
python>=3.8

# Build dependencies:
setuptools

# Runtime dependencies:
mpi4py
python-dateutil
xarray
netcdf4
hdf4
dask

# Testing dependencies:
pytest
pycodestyle
